* {
  box-sizing: border-box;
}

html {
  --bg: #fff;
  --fg: #25282A;
  --gray: #888;
  --royal: #0072CE;
  --blue: #6AD1E3;
  --primary: #0066ff;
  --secondary: var(--royal);
  --tertiary: #FF585D;
  --prime: #0d9b00;


  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.65em + 0.7vw);
  line-height: 1.3;

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }

  @media (prefers-color-scheme: dark) {
    --bg: #25282A;
    --fg: #fff;
    --secondary: var(--blue);

    ::selection {
      background: var(--secondary);
      color: var(--fg);
    }
  }
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.highlight {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  label {
    margin-right: 0.5em;
  }
  input {
    caret-color: var(--secondary);
  }
}

label {
  color: var(--gray);
}



input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary)
  }
}

input[type="number"] {
  text-align: center;
  border-bottom: 0.1em solid var(--primary);
  margin: 0 1em;
  width: 4em;
  padding-left: 0.5em;
  &:hover, &:focus {
    border-color: var(--secondary);
  }
}

input[type="string"] {
  text-align: left;
  border-bottom: 0.1em solid var(--prime);
  margin: 0 1em;
  width: 10em;
  padding-left: 0.5em;
  &:hover, &:focus {
    border-color: var(--prime);
  }
}


button, input {
  align-self: right;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

button {
  border-radius: 5px;
  border-color: #00aa19;
  border: 0.1em solid #00aa19;;
  padding: 0.5em 1em;
  position: relative;
  transition: top 50ms;
  border-color: #00aa19;
  &:hover, &:focus {    
    &:not(&:disabled){
      top: -1px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }   
  }
  &:disabled{
    border-color: #888;
  }

}



table {
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
  width: 70%;
}

.candidateCol, .candidateVotes{
  width: 50%;
  text-align: center;
}


.voteButton {
display: block;
margin: auto;
}

.voteRow {
  width: 100%;
}

.signCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 0.5em;
  margin-left: -0.5em;
  border-radius: 5px;
  &.is-premium {
    box-shadow: 0 4px 8px 0 var(--prime);
  }
}

.signCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  &.is-premium {
    box-shadow: 0 8px 16px 0 var(--prime);
  }
}


.is-premium {
  border-left: 0.1em solid var(--prime);
  border-bottom: 0.1em solid var(--prime);
}

.nftContainer, .orderTable {
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}

.nft {
 // border: 1px solid black;
  border-radius: 5px; 
  width: 60%;
}




